{% load static %}

<div class="cookies-super">
<div class="cookies">
    <div class="cookie-subcontainer1">
        <div><h4><b>We Use Cookies</b> </h4></div>
        <div><p>
            We use cookies to improve your experience on our site, and to show you relevant content and advertisemnets. 
            To find out more, read our updated <a class="anchor" href="#">Privacy policy</a> and <a class="anchor" href="#">Cookie Policy</a>
        </p></div>
    </div>
    <div class="cookie-subcontainer2"> 
        <button class="generic-button6" id="cancelcookies">Cancel</button>
        <button class="generic-button5" id="acceptall">Accept All</button>
    </div>
</div>
</div>