{% load static %}

<!--Scroll-To-Top Button-->
<div class="ScrollToTop">
    <img class="scroll-to-top" onclick="topFunction()" id="up" alt="back to top" src="{% static 'assets/up.png' %}" height=38"
        alt="back to top">
</div>

<!--Footer-->
<div class="socials-container">
    <a href="https://www.instagram.com/kiseuart/"><img class="social-icons" src="{% static 'assets/instagram2.png' %}" 
            alt="instagram"></a>
    <a href="https://www.artstation.com/fluxxart/"><img class="social-icons" src="{% static 'assets/artsation2.png' %}"
            alt="artstation"></a>
    <a href="https://www.youtube.com/channel/UCgVNHpNT4Krq6I0eZTXI5Ew"><img class="social-icons"
            src="{% static 'assets/youtube2.png' %}" alt="youtube"></a>
    <a href="https://github.com/billykiseu"><img class="social-icons" src="{% static 'assets/github2.png' %}" alt="github"></a></li>
    <a href="https://mobile.twitter.com/kiseuyulemsee"><img class="social-icons" src="{% static 'assets/twitter2.png' %}"
            alt="twitter"></a>
    <a href="https://www.linkedin.com/in/billy-kiseu-882901142/"><img class="social-icons" src="{% static 'assets/linkedin2.png' %}"
            alt="linkedin"></a>
    <a href="https://www.facebook.com/billy.kiseu/"><img class="social-icons" src="{% static 'assets/facebook2.png' %}"
            alt="facebook"></a>
</div>
<div class="footer-super">
    <div class="contact-container" id="contactloc">
        <span class="contact-highlight"><b>GET IN TOUCH</b></span> <br>
        <span class="contact-highlight">+254702792167</span> <br>
        <span>For inquiries, commission work,<br>
            and bookings, email me at</span> <br>
        <span class="contact-highlight"><b>kiseuart@gmail.com</b></span>


    </div>
    <div class="footer-logo">
        <a href="#"><img src="{% static 'assets/logo1.png' %}"></a>
    </div>
</div>
<div class="copyright">
    <span>© copyright billykiseu.com</span>
</div>