<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credentials</title>
    <link rel="stylesheet" type='text/css' href="{% static 'styles/main.css' %}">
    <link rel="icon" type="image/x-icon" sizes="any" href="{% static 'assets/favicon.png' %}">
</head>

<body>

{% include 'preloader.html' %}

    <div class="bgvid">
         <video class="hero" src="{% static 'assets/herotest.mp4' %}" muted loop autoplay></video>
    </div>

    {% block content %}
    
    {% endblock %}

    <script src="{% static 'styles/credentials.js' %}"></script>
</body>

</html>