{% extends 'mainmusic.html' %}
{% load static %}
{% block content %}

{% include 'logo.html' %}
{% include 'navdropdowns.html' %}

<!--Hero-->
<div class="hero-container2">
</div>

<!--Nav--Full-->
<div class="nav-container-super show" id="peek">
    <div class="nav-container">
        <div class="search-container">
            <!--Searchbar-->
            <div class="search" id="search-full">
                <form method="GET" action="{% url 'gsearch' %}">
                    <img class="search-icon dark" id="search-icon-full" src="{% static 'assets/search.png' %}"
                        height="28">
                    <img class="close" id="close-full" src="{% static 'assets/cancel-search.png' %}" height="28">
                    <input class="search-input" type="text" name="q" placeholder="Search kiseu.com" onclick="submit">
                    <button class="go" type="submit" onclick="submit"><img id="go-icon"
                            src="{% static 'assets/search.png' %}" height="30"></button>
                </form>
                <ul class="autocomplete-result-list"></ul>
            </div>

        </div>
        <div class="nav-bar active" id="nav-bar-full">
            <div class="nav">
                <ul>
                    <div id="highlight">
                        <li><a class="btn" href="{% url 'explore' %}/code">
                                <div class="menu-item" id="codeid"><img class="nav-icon" id="codeicon"
                                        src="{% static 'assets/code.png' %}" height="20">Code<div class="underline">
                                    </div>
                                </div>
                            </a></li>
                        <li><a class="btn" href="{% url 'explore' %}/digital.art">
                                <div class="menu-item" id="digitalartid"><img class="nav-icon" id="digitalarticon"
                                        src="{% static 'assets/digitalart.png' %}" height=20">Digital art<div
                                        class="underline2"></div>
                                </div>
                            </a></li>
                        <li><a class="btn highlight" href="{% url 'explore' %}/music">
                                <div class="menu-item"><img class="nav-icon" 
                                        src="{% static 'assets/music.png' %}" height="20">Music<div class="underline">
                                    </div>
                                </div>
                            </a></li>
                        <li><a class="btn" href="{% url 'explore' %}">
                                <div class="menu-item" id="exploreid"><img class="nav-icon" id="exploreicon" src="{% static 'assets/explore.png' %}"
                                        height="20">Explore<div class="underline2"></div>
                                </div>
                            </a>
                            <!--<div class="drop-down-menu">
            <div class="dropdown-link" id="stats">Brief Stats</div>
            <div class="dropdown-link" id="testimonials">Testimonials</div>
            <div class="dropdown-link" id="news-events">News & Events</div>
            <div class="dropdown-link" id="gallery">Gallery</div>
            <div class="dropdown-link" id="location">Map & Directions</div>
        </div>-->
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="call-to-action"><button class="generic-button2" id="contact-trigger">Contact me</button></div>
        <div class="profile" id="cartbtn">
            <img class="cart" id="cartflip" src="{% static 'assets/cart.png' %}" height="22">
            <div class="cart-count">0</div>
        </div>

        {% if request.user.is_authenticated %}
        <!--logged in icon-->
        <div class="profilec" id="userprofileicon">
            <img src="{{request.user.profile.profilepic.url}}" height="30" alt="profile picture">
        </div>
        <script>
            const userdropdowntarget2 = document.getElementById("userdropdown2");
            const userprofileicon = document.getElementById("userprofileicon");
            const closeuserdropdown2 = document.getElementById("userdropdownclose2");
            userprofileicon.addEventListener("click", () => {
                userdropdowntarget2.classList.toggle("open");
            });
            closeuserdropdown2.addEventListener("click", () => {
                userdropdowntarget2.classList.toggle("open");
            });
        </script>
        {% else %}
        <!--Not logged in icon-->
        <div class="profileb" id="user-icon">
            <img id="profile-btn" class="cart" src="{% static 'assets/user.png' %}" height="22">
        </div>
        <script>
            //User-drop-down
            const userdropdown = document.getElementById("profile-btn");
            const userdropdowntarget = document.getElementById("userdropdown");
            const closeuserdropdown = document.getElementById("userdropdownclose");
            userdropdown.addEventListener("click", () => {
                userdropdowntarget.classList.toggle("open");
            });
            closeuserdropdown.addEventListener("click", () => {
                userdropdowntarget.classList.toggle("open");
            });
            const userflip = document.getElementById("profile-btn");

            window.addEventListener("scroll", () => {
                const currentScroll = window.pageYOffset;
                if (currentScroll <= 100) {
                    userflip.style.filter = "invert(100)";
                }
                if (currentScroll > 100) {
                    userflip.style.filter = "invert(0)";
                }
            });
        </script>
        {% endif %}
    </div>

    <!--Mobile-toggle-->
    <div class="nav-mobile-container">
        <div class="search" id="search-mobile">
            <form method="GET" action="{% url 'gsearch' %}">
                <img class="search-icon dark" id="search-icon-mobile" src="{% static 'assets/search.png' %}"
                    height="28">
                <img class="close" id="close-mobile" src="{% static 'assets/cancel-search.png' %}" height="22">
                <input class="search-input2" type="text" name="q" placeholder="Search.." onclick="submit">
                <button class="go" type="submit" onclick="submit"><img id="go-mobile"
                        src="{% static 'assets/search.png' %}" height="22"></button>
            </form>
            <ul class="autocomplete-result-list"></ul>
        </div>
        <img class="toggle dark" id="menu-toggle" src="{% static 'assets/menu-toggle.png' %}" height="28">
    </div>
</div>

<!--Navbar-Mobile-->
<div class="navmobile" id="nav-mobile">
    <ul class="menumobile-list">
        <img class="close-menu" id="menu-close" src="{% static 'assets/close.png' %}" height="28">
        <li><a href="{% url 'explore' %}"><img src="{% static 'assets/explore.png' %}" height="15">Explore</a></li>
        <li><a href="{% url 'explore' %}/music"><img src="{% static 'assets/music.png' %}" height="15">Music</a></li>
        <li><a href="{% url 'explore' %}/digital.art"><img src="{% static 'assets/digitalart.png' %}" height="15">Digital art</a></li>
        <li><a href="{% url 'explore' %}/code"><img src="{% static 'assets/code.png' %}" height="15">code</a></li>

    </ul>
    <span class="button-pop" id="contact-trigger2">Contact Me</span>
    <div class="profile2">
        <img id="cartbtn2" class="cart2" src="{% static 'assets/cart.png' %}" height="22">
        <div class="cart-count"> 0 </div>

        {% if request.user.is_authenticated %}
        <!--logged in icon-->
        <div class="profiled" id="userprofileicon2">
            <img src="{{request.user.profile.profilepic.url}}" height="30" alt="profile picture">
        </div>
        <script>
            const userprofileicon2 = document.getElementById("userprofileicon2");
            userprofileicon2.addEventListener("click", () => {
                userdropdowntarget2.classList.toggle("open");
            }); 
        </script>
        {% else %}
        <!--Not logged in icon-->
        <img id="profile-btn-mobile" class="cart3" src="{% static 'assets/user.png' %}" height="22">
        <script>
            const userdropdown2 = document.getElementById("profile-btn-mobile");

            userdropdown2.addEventListener("click", () => {
                userdropdowntarget.classList.toggle("open");
            });
        </script>
        {% endif %}

    </div>

</div>

<div class="item-count">
    <h5>{{item_count}} items found..</h5>
</div>

<!--Musiclist-->
<div class="category-container">
    <a href="#" class="category-header"><span>Music</span></a> 
    <div class="category-subcontainer">
        {% for item in musicitems %}
        <a class="anchor" href="{% url 'play' %}/{{item.name}}">       
            <div class="card-medium">
                <img class="card-medium-img" src="{{item.previewimage.url}}">
                <span class="category-text"><b>{{item.supercategory.name}}</b>/{{item.category.name}}</span>
                <span class="description-text">{{item.subcategory.name}}</span>
                <span class="name-text"><b>{{item.name}}</b></span>
                <span class="description-text">{{item.description}}</span>
                <span class="date-text">{{item.created|timesince}} ago</span>
                <div class="play-count"><img src="{% static 'assets/play.png' %}">
                    <h5>{{item.total_views}} Plays</h5>
                </div>
            </div>
        </a>
        
        {% endfor %}
    </div>
    
</div>

<!--Floating handle-->
<div class="handle" id="music-toggle">
    <div class="musichandle" id="music-target">
        <img src="{% static 'assets/music.png' %}">
    </div>
</div>


<!--MusicPLayer-->
{% for item in playing %}
<div class="player-container-super">
<div class="player-container active" id="player-loc">
    <div class="album-cover">
            <div class="player-subcontainer">
                <img class="close-player" id="close-player"
                    src="{% static 'assets/close.png' %}">
            </div>
            <div class="song-options" id="song-options">
                <img class="menuvert" src="{% static 'assets/menuvert.png' %}">
                {% if request.user.is_authenticated %}
                <div class="song-options-sub" id="song-options-sub">
                    <a class="anchor" href="{{item.filetarget.url}}" download="{{item.filetarget.url}}">
                        <div class="download-link"><h5>Download MP3</h5></div>
                    </a>              
                </div>
                {% else %}
                <div class="song-options-sub" id="song-options-sub">
                    <div class="download-link">
                        <h5>Login to download</h5>
                    </div>
                </div>  
                {% endif %}
            </div>
            <img class="album-art2" src="{{item.previewimage.url}}">
            <div class="player-title">
                <h2><b>{{item.name}}</b></h2>
                <h4>{{item.artist}}</h4>
            </div>
    </div>
    <div class="player-controls">
        <div class="deck2">
            <div id="ct">00:00</div>
            <input class="seeker" id="progress" type="range" min="0" max="100" value="0" step="0.001">
            <div id="duration">{{item.duration}}</div>
        </div>
        <div class="deck1">
            <img class="player-icon" src="{% static 'assets/menu-toggle.png' %}" height="25">
            <a class="anchor" href="{% url 'play' %}/{{previoussong.name}}">
                <img class="player-icon" src="{% static 'assets/back.png' %}" height="25">
            </a>
            <div class="playbutton" id="playpause"></div>
            <a class="anchor" href="{% url 'play' %}/{{newest.name}}">
                <img class="player-icon" src="{% static 'assets/forward.png' %}" height="25">
            </a>
            <div class="volbtn" id="volbtn">
                <input orient="vertical" class="volumerocker" id="volumeslider" type="range" min="0" max="100" value="100" step="1">
            </div>
        </div>
        <audio class="nowplaying" autoplay id="cue">
            <source src="{{item.filetarget.url}}" type="audio/ogg">
            <source src="{{item.filetarget.url}}" type="audio/mpeg">
            Your browser does not support this audio element.
        </audio>

    </div>
    
</div>
</div>
{% endfor %}

{% include 'cookieconsent.html' %}
{% endblock %}

