{% extends 'maincredentials.html' %}
{% load static %}
{% block content %}

<div class="splashb">

    <!--Recover-->
    <div class="login-container" id="brecovery">
        <div class="blogo">
            <img src="{% static 'assets/logo2.png' %}">
        </div>
        <div class="bcard">
            <div class="bentry">
                <h3>Recovery</h3>
            </div>
            <div class="bentry">
                <h4>We’ve emailed you instructions for setting your password, <br>
                     if an account exists with the email you entered. <br>
                    You should receive them shortly.</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}