{% extends 'maincredentials.html' %}
{% load static %}
{% block content %}

<div class="splashb">

    <!--Recover-->
    <div class="login-container" id="brecovery">
        <div class="blogo">
            <img src="{% static 'assets/logo2.png' %}">
        </div>
        <div class="bcard">
            <form method="post">
                {% csrf_token %}
                <div class="bentry">
                    <h3>Recovery</h3>
                </div>
                <div class="bentry">
                    <img src="{% static 'assets/mail.png' %}" height="22">
                    {{recover_form.email}}
                </div>
                <div class="error">
                    <h5>this email does not exist</h5>
                </div>
                <div class="bentry">
                    <a class="anchor" href="{% url 'explore' %}"><div class="generic-button4">Cancel</div></a>
                    <button type="Submit" name="Send email" class="generic-button3">Recover</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}